.index-first {
  padding: clamp(20px, 13.292vw, 128px) 0 clamp(40px, 13.811vw, 133px);
  position: relative;

  &::before{
    position: absolute;
    content: "";
    inset: 0;
    background-image: url(/img/index/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.1;
  }

  &__box{
  display: grid;
  grid-template-columns: 1fr 343px;
  grid-gap: clamp( 40px, 10.177vw, 98px);

   @include tablet{
    grid-template-columns: 100%;
   }
  }

  &__inner{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-gap: clamp(16px, 2.596vw, 25px);
    width: 100%;
    max-width: 522px;

    @include mobile{
      align-items: center;
    }
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
    grid-gap: 31px;
    background: var(--bg-a);
    box-shadow: 0px 4px 30px rgba(196, 196, 196, 0.2);
    border-radius: 20px;
    padding: 44px clamp(29px, 4.154vw, 40px);
    width: 100%;
  }
}



