.page-header{
    width: 100vw;
    height: 5.5rem;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-image: url(/img/index/main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}