<footer>
  <div class="container--bottom container">
    <div class="footer">
    <div class="footer-top">
      <div class="footer-top__wechat">
        <picture>
          <source type='image/webp' srcset='img/index/qrcode.webp'>
          <img width='120' height='120' src='img/index/qrcode.png' alt='image'>
        </picture>
      </div>
      <div class="footer-top__contacts">
        <h4 class="footer-top__title">联系我们</h4>
        <ul class="footer-top__list">
          <li class="footer-top__item">
            <span class="footer-top__name">商务合作：</span>
            <a href="mailto:info@fintec.ai" class="footer-top__link">info@fintec.ai</a>
          </li>
          <li class="footer-top__item">
            <span class="footer-top__name">市场媒体：</span>
            <a href="mailto:marketing@fintec.ai" class="footer-top__link">marketing@fintec.ai</a>
          </li>
          <li class="footer-top__item">
            <span class="footer-top__name">公司地址：</span>
            <p>北京市海淀区成府路45号中关村智造大街F座2层</p>
          </li>
          <li class="footer-top__item">
            <span class="footer-top__name"></span>
            <p>深圳市南山区科华路讯美科技广场3号楼10层R20室</p>
          </li>
          <li class="footer-top__item">
            <span class="footer-top__name"></span>
            <p>杭州市滨江区信诚路555号科达投资大厦B幢1209室</p>
          </li>
        </ul>
      </div>
      <nav class="footer-copyright">
        <ul class="footer-copyright__list">
          <li class="footer-copyright__item">
            <a href="https://www.ahi-fintech.com/jiejuefangan/" class="footer-copyright__link">解决方案</a>
          </li>
          <li class="footer-copyright__item">
            <a href="https://www.ahi-fintech.com/gongsijianjie/" class="footer-copyright__link">公司简介</a>
          </li>
          <li class="footer-copyright__item">
            <a href="https://www.ahi-fintech.com/xinwendongtai/" class="footer-copyright__link">新闻动态</a>
          </li>
          <li class="footer-copyright__item">
            <a href="https://www.ahi-fintech.com/jiaruwomen/" class="footer-copyright__link">加入我们</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-bottom">
      <nav class="footer-nav">
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="http://www.k2vc.com/" class="footer-nav__link">险峰长青</a>
          </li>
          <li class="footer-nav__item">
            <a href="http://www.hillhousecap.com/" class="footer-nav__link">高瓴资本</a>
          </li>
          <li class="footer-nav__item">
            <a href="http://www.danhuacap.com/" class="footer-nav__link">丹华资本</a>
          </li>
          <li class="footer-nav__item">
            <a href="http://www.chuangxin.com/" class="footer-nav__link">创新工场</a>
          </li>
          <li class="footer-nav__item">
            <a href="http://iiis.tsinghua.edu.cn/" class="footer-nav__link">清华大学交叉信息学院</a>
          </li>
          <li class="footer-nav__item">
            <a href="http://www.pbcsf.tsinghua.edu.cn/" class="footer-nav__link">清华五道口金融学院</a>
          </li>
        </ul>
      </nav>
      <div class="footer-bottom__copyright">
        <span class="footer-bottom__name">Copyright © 2017-2022 慧安金科（北京）科技有限公司</span>
        <a href="http://beian.miit.gov.cn/" class="footer-bottom__link">京ICP备17026945号</a>
      </div>
    </div>
    </div>
  </div>
</footer>