<header>
  <div class="container--mode container">
    <div class="header-box">
      <a href="#" class="logo">
        <picture>
          <source type='image/webp' srcset='img/logo.webp'>
          <img width='180' height='27' src='img/logo.png' alt='logo'>
        </picture>
      </a>

          <nav class="main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item">
                <button class="main-nav__button">連接錢包</button>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link active">首页</a>
              </li>
              <li class="main-nav__item">
                <a href="https://www.ahi-fintech.com/jiejuefangan/" class="main-nav__link">解决方案</a>
              </li>
              <li class="main-nav__item">
                <a href="https://www.ahi-fintech.com/gongsijianjie/" class="main-nav__link">公司简介</a>
              </li>
              <li class="main-nav__item">
                <a href="https://www.ahi-fintech.com/xinwendongtai/" class="main-nav__link">新闻动态</a>
              </li>
              <li class="main-nav__item">
                <a href="https://www.ahi-fintech.com/jiaruwomen/" class="main-nav__link">加入我们</a>
              </li>
           
            </ul>
          </nav>

    </div>
  </div>
</header>