.footer-copyright{
    display: flex;
    flex: 3 1;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: var(--color-f);

    &__list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row nowrap;
        padding-bottom: 0.3rem;
        border-bottom: 1px solid var(--border-b);
    }

    &__item{
        display: flex;
    }

    &__link{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: .14rem;
    }
}