.main-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(10px, 2.181vw, 21px) clamp(20px, 8.827vw, 85px) clamp(13px, 2.804vw, 27px) clamp(20px, 4.154vw, 40px) ;

  &__title{
    font-family:  var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 2.492vw, 24px);
    line-height: 125%;
    color: var(--color-c);
  }

  p{
    font-family:  var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 2.492vw, 24px);
    line-height: 125%;
    color: var(--color-d);
  }
}
