.partners-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    &__item{
        display: flex;
        margin: 0.3rem;
        img,picture{
            object-fit: contain;
            width: 200px;
            height: 60px;
        }
    }
}