.main-title{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size:clamp(137px, 23.157vw, 223px);
  line-height: 100%;
  color: var(--color-c);
}

p{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 1.869vw, 18px);
  line-height: 150%;
  color: var(--color-c);

  @include mobile{
    text-align: center;
  }
}

.main-subtitle{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 116px;
  color: var(--color-c);

  @media (max-width: (355px)) {
    font-size: 78px;
  }
}