.main-subtitle{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  line-height: .24rem;
  font-size: .2rem;
  text-align: center;
  margin: 0.1rem auto;
  color: var(--color-e);
}

.main-title{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  line-height: .5rem;
  font-size: .42rem;
  text-align: center;
  margin: 0 auto;
  height: 1.9rem;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--color-e);

  &:before,&:after{
    content: "";
    height: 5px;
    flex: 1 1;
    background-color: var(--bg-e);
  }

  &::before{
    margin-right: 0.5rem;
  }
  &::after{
    margin-left: 0.5rem;
  }
}

.lift{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 37%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAoCAYAAACWwljjAAAABGdBTUEAALGPC/xhBQAAAbtJREFUWAntmMtKw0AUhhMvS5cuxILgQlRUpIggIoKIIoigG1eC+AA+jo+i6FIXBfeuXIgoeKVeitVWJX5HWhhDksnUpp3FDPyZk3Nm5nycmZKkXhAEOXSA3lG7muTeRzmfy6HneUvIhnYkQK+Q9NhAA0Opg0vBEhjBKHiyb8iGMyQMOYuK41BcBSypAL+MYXSKjtFAW7EAGEO3qN4uMQbbAkXiSfRQJ1H6a+yhlkKRcAoVFYiweYNjtCVQJJpBz2GCiPt7fBOZQpFgDpUikse5HgnkM4Fi4QX0Fpc5wf9EbLqpUCy4jMoJSXWhFwbMNgWKhVbRhy5jirhs9fy/oFhgHVVTJEs7RLZ8sSEoJm6iz7SZDMbJ+/OKERQTttCXQRLToRUmrKWCYuA2+jbN0MB4OQobYShfdTCgn/sL1K36M7TLrN3n+758aPy2rrpR6+/od5E8tf/A1uLS9aId5T7J3CNYihkQ4D9PiMdMC7mp4rjB9kjFjZp8BlnVHJBuO1yFXIV0FdDF3RlyFdJVQBdv5AxVdIsq8apiZ2PyYO1EVykesGfZEESsCkweyR8MUW+V8uJ1gkYipmpdP1pm2aJVPEGzAAAAAElFTkSuQmCC);
  box-sizing: border-box;
  background-color: rgba(0,0,0,.65);
  border-radius: 50%;
  position: fixed;
  right: 100px;
  bottom: 50px;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  &.show{
    opacity: 1;
    visibility: visible;
  }
}