:root {
  --body-bg:#ffffff;

  --content-width: 963px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));


  --font-family: "Inter", sans-serif; // var(--font-family);

 
  // text color
  --color-a: #ffffff; // var(--color-a);
  --color-b:  #000000; // var(--color-b);
  --color-c: #161616;  // var(--color-c);
  --color-d: #C4C4C4;  // var(--color-d);

  --color-e: #152a8c;  // var(--color-e);
  --color-f: #808080;  // var(--color-f);
  --color-g: #454660;  // var(--color-g);
  --color-h: #0056b3;  // var(--color-h);

 


  // bg color
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  --bg-c: #F4F4F4; // var(--bg-c);
  --bg-e: #5196FF; // var(--bg-e);

  --bg-f: #15162f; // var(--bg-f);

 
  //border color
  --border-a: #edb039; // var(--border-a);
  --border-b: #454660; // var(--border-b);

}
